
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header, footer {
  text-align: center;
  padding: 30px;
}

.badge {
  margin: 3px;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.popover p {
  margin: 0;
  padding: 0;
}

.popover {
  min-width: 350px;
  max-width: 100%;
}

.card-body img {
  max-width: 50px;
  border-radius: 25px;
  float: left;
}

.card-body .badge-danger {
  float: right;
}

.card-title {
  margin: 13px 13px 17px 63px;
}